.NotFoundAdvice__wrapper {
    display: grid;
    justify-items: center;
    padding: var(--spc__spacing--10) 0px;
    background: hsla(var(--clr__neutral--100));
}
.NotFoundAdvice__icon {
    height: 90px;
    width: 90px;
    margin-bottom: var(--spc__spacing--4);
}
.NotFoundAdvice__title {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-h3);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--800));
    text-align: center;
    margin-bottom: var(--spc__spacing--2);
}
.NotFoundAdvice__description {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-p2);
    font-weight: var(--fw__regular);
    color: hsla(var(--clr__neutral--600));
    line-height: 30px;
    text-align: center;
}