.aboutUs {
    margin-bottom: var(--spc__scale--20);
}
.__thirdColumn {
    display: grid;
    justify-content: center;
    align-items: center;

    position: relative;
}
.__ellipseSvg {
    --width: 184px;
    --height: 184px;
    --left: 21px;
    --bottom: 64px;
    width: var(--width);
    height: var(--height);
    position: absolute;
    bottom: var(--bottom);
    left: var(--left);
    z-index: -1;
}
.__firstColumn{
    width: fit-content;
    position: relative;
}

@media screen and (min-width: 768px) {
    .__firstRow {
        --gap: 25px;
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-gap: var(--gap);
    }
    .__firstRow div:not(:last-child) {
        display: grid;
        align-items: center;
    }
    .__secondRow {
        padding-block: var(--spc__scale--5);
    }
}
@media screen and (min-width: 1055px) {
    .__firstRow {
        --gap: 60px;
        grid-template-columns: 1fr 2fr;
    }
    .__firstRow div:not(:last-child) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .__secondRow {
        --gap: var(--spc__scale--9);
        --max__width: 348px;
        display: grid;
        grid-template-columns: 1fr var(--max__width);
        grid-gap: var(--gap);
    }
}