.findAdvice {
    --gap: 20px;
    width: 100%;
    padding: var(--spc__spacing--28) 0px;
    display: grid;
    grid-gap: var(--gap);
}
.findAdvice__title {
    --max__width: 4s30px;
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-h2);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--800));
    max-width: var(--max__width);
    text-align: center;
    margin-bottom: var(--spc__spacing--8);
}