.button__primary {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-p2);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--100));
    background: hsla(var(--clr__primary--100));
    padding: var(--spc__spacing--5) var(--spc__spacing--10);
    box-shadow: 0px 2px 12px hsla(var(--clr__primary--100) / 0.18);
    border-radius: 56px;
    cursor: pointer;
}