.sectionCard {
    padding-block: 110px;
    background: hsla(var(--clr__neutral--100));
}
.card__row {
    --min__width: 375px;
    --gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min__width), 1fr));
    grid-gap: var(--gap);
}

@media screen and (max-width: 500px) {
    .card__row {
        --min__width: 325px;
    }
}