.sectionCard {
    padding-block: 110px;
    background: hsla(var(--clr__neutral--100));
}
.card__row {
    --min__width: 375px;
    --gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min__width), 1fr));
    grid-gap: var(--gap);
}
.card {
    --max__width: 400px;
    --deg: 5deg;
    margin: 0 auto;
    max-width: var(--max__width);
    transform: rotate(var(--deg));
}
@media screen and (max-width: 500px) {
    .card__row {
        --min__width: 325px;
    }
    .card {
        --max__width: 325px;
        --deg: 0deg;
    }
}
.card__head {
    background: hsla(var(--clr__primary--100));
    padding: 60px 35px 30px;
    border-radius: 20px 20px 0 0;
}
.card__title {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-h4);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--100));
}
.card__content {
    padding: 60px 35px 110px;
    background: hsla(var(--clr__neutral--100));
    border-radius: 0 0 20px 20px;
    border: 1px solid hsla(var(--clr__neutral--400));

}
.card__message {
    font-family: var(--ff__dmSans--italic, sans-serif);
    font-size: var(--scale-p1);
    font-weight: var(--fw__regular);
    color: hsla(var(--clr__neutral--600));
}
.cardApi__wrapper {
    padding: var(--spc__spacing--14) 0px;
    max-width: 500px;
}
@media screen and (max-width: 850px) {
    .cardApi__wrapper {
        padding: var(--spc__spacing--14) var(--spc__spacing--4);
        max-width: 100%;
    }
}
.cardApi__subtitle {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-h5);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__primary--100));
    letter-spacing: 0.1em;
    margin-bottom: var(--spc__spacing--3);
}
.cardApi__title {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-h2);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--800));
    margin-bottom: var(--spc__spacing--4);
}
.cardApi__desc {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-p2);
    font-weight: var(--fw__regular);
    color: hsla(var(--clr__neutral--600));
    margin-bottom: var(--spc__spacing--3);
}
.cardApi__stat {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-h1);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--800));
}
.cardApi__stat span {
    color: hsla(var(--clr__primary--100));
}
.cardApi__label {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: 20px;
    margin-top: -10px;
    font-weight: var(--fw__medium);
    color: hsla(var(--clr__neutral--700));
    margin-bottom: var(--spc__spacing--8);
}
.cardApi__button {
    display: inline-block;
    padding: 18px 40px;
    background: hsla(var(--clr__primary--100));
    color: hsla(var(--clr__neutral--100));
    border-radius: 20px;

    font-family: var(--ff__dmSans--bold, sans-serif);
    font-size: var(--scale-p2);
    font-weight: var(--fw__bold);
}