.skillsHero__title {
    font-family: var(--ff__Nunito, sans-serif);
    font-size: var(--scale--h2);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--800));
    margin-bottom: var(--spc__scale--7);
}
.skillsHero__description {
    font-family: var(--ff__firaSans, sans-serif);
    font-size: var(--scale--p3);
    font-weight: var(--fw__regular);
    color: hsla(var(--clr__neutral--600));
    width: min(550px, 100%);
    margin-bottom: var(--spc__scale--15);
}