
.form__field {
    font-family: var(--ff__Nunito, sans-serif);
    font-size: var(--scale--p3);
    font-weight: var(--fw__regular);
    width: 100%;
    color: hsla(var(--clr__neutral--600));
    border: none;
    outline: none;
}