.headline__wrapper {
    padding: var(--spc__spacing--14) 0px;
    max-width: 500px;
}
@media screen and (max-width: 850px) {
    .headline__wrapper {
        padding: var(--spc__spacing--14) var(--spc__spacing--4);
        max-width: 100%;
    }
}
.headline__subtitle {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-h5);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__primary--100));
    letter-spacing: 0.1em;
    margin-bottom: var(--spc__spacing--3);
}
.headline__title {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-h2);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--800));
    margin-bottom: var(--spc__spacing--4);
}
.headline__desc {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-p2);
    font-weight: var(--fw__regular);
    color: hsla(var(--clr__neutral--600));
    margin-bottom: var(--spc__spacing--3);
}
.headline__stat {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-h1);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--800));
}
.headline__stat span {
    color: hsla(var(--clr__primary--100));
}
.headline__label {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: 20px;
    margin-top: -10px;
    font-weight: var(--fw__medium);
    color: hsla(var(--clr__neutral--700));
    margin-bottom: var(--spc__spacing--8);
}
.headline__button {
    display: inline-block;
    padding: 18px 40px;
    background: hsla(var(--clr__primary--100));
    color: hsla(var(--clr__neutral--100));
    border-radius: 20px;

    font-family: var(--ff__dmSans--bold, sans-serif);
    font-size: var(--scale-p2);
    font-weight: var(--fw__bold);
    cursor: pointer;
}