.footer {
    padding-bottom: var(--spc__scale--7);
}
.footer__line {
    border-top: 1px solid #E4E4E4;
    padding-top: var(--spc__scale--15);
}
.__firstColumn {
    --gap: 24px;
    display: grid;
    grid-gap: var(--gap);
}
.footer__description {
    font-family: var(--ff__firaSans, sans-serif);
    font-size: var(--scale--h6);
    font-weight: var(--fw__regular);
    width: min(270px, 100%);
    color: #565656;
}
.__row {
    --gap: var(--spc__scale--10);
    display: grid;
    grid-gap: var(--gap);
}
.__footerColumns {
    --gap: var(--spc__scale--15);
    display: grid;
    grid-gap: var(--gap);
    justify-items: baseline;
}
@media screen and (min-width: 568px) {
    .__footerColumns {
        --gap: var(--spc__scale--10);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap: var(--gap);
    }
}
@media screen and (min-width: 1000px) {
    .__row {
        --gap: var(--spc__scale--20);
        display: grid;
        grid-template-columns: 270px auto;
        grid-gap: var(--gap);
    }
    .footerColumns {
        justify-items: center;
    }
}
.footer__groupTitle {
    font-family: var(--ff__Nunito, sans-serif);
    font-size: var(--scale--h5);
    font-weight: var(--fw__bold);
    color: var(--clr__black--100);

    margin-bottom: var(--spc__scale--6);
}
.footer__groupList {
    --gap: 16px;
    display: grid;
    grid-gap: var(--gap);
}
.footer__link {
    font-family: var(--ff__Jost, sans-serif);
    font-size: var(--scale--p4);
    font-weight: var(--fw__regular);
    color: var(--clr__black--100);
    transition: all 0.3s ease-in;
}
.footer__link:focus,
.footer__link:hover {
    opacity: 0.8;
    transform: scale(1.2);
    text-decoration: underline;
}