.footer {
    padding-bottom: var(--spc__scale--7);
}
.footer__line {
    border-top: 1px solid #E4E4E4;
    padding-top: var(--spc__scale--15);
}
.__row {
    --gap: var(--spc__scale--10);
    display: grid;
    grid-gap: var(--gap);
}
.__firstColumn {
    --gap: 24px;
    display: grid;
    grid-gap: var(--gap);
}
.logo {
    width: 125px;
    height: 40px;
}
.footer__hero {
    font-family: var(--ff__firaSans, sans-serif);
    font-size: var(--scale--h6);
    font-weight: var(--fw__regular);
    width: min(270px, 100%);
    color: hsla(var(--clr__neutral--600));
}
.__footerColumns {
    --min__width: 100px;
    --gap: var(--spc__scale--15);
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--min__width), 1fr));

    justify-items: baseline;
}
@media screen and (min-width: 568px) {
    .__footerColumns {
        --min__width: 120px;
        --gap: var(--spc__scale--10);
        display: grid;
    }
}
@media screen and (min-width: 1000px) {
    .__row {
        --gap: var(--spc__scale--20);
        display: grid;
        grid-template-columns: 270px auto;
    }
    .__footerColumns {
        margin-top: var(--spc__scale--2);
        justify-items: center;
    }
}