.characters__list {
    padding-block: var(--spc__scale--15);
}
.charactersList__heroTitle {
    font-family: var(--ff__Nunito, sans-serif);
    font-size: var(--scale--h3);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--800));
    margin-bottom: var(--spc__scale--6);
}
.characterList__heroSubtitle {
    font-family: var(--ff__firaSans, sans-serif);
    font-size: var(--scale--p1);
    font-weight: var(--fw__regular);
    color: hsla(var(--clr__neutral--600));
    margin-bottom: var(--spc__scale--12);
}
.characters__collection {
    --gap: 30px;
    --min__width: 350px;
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--min__width), 1fr));
    justify-items: center;
}
@media screen and (max-width: 425px) {  
    .characters__collection {
        --min__width: calc(100% - 50px);
        justify-items: baseline;
    }
}