.advice__item {
    --max__width: 500px;
    --width: 100%;
    background: hsla(var(--clr__neutral--100));
    border: 1px solid hsla(var(--clr__neutral--400));
    box-shadow: 0px 14px 42px hsla(var(--bg__primary--200) / 0.06);
    border-radius: 20px;
    max-width: var(--max__width);
    width: var(--width);
    position: relative;
}
.advice__body {
    --gap: 22px;
    padding: var(--spc__spacing--12) var(--spc__spacing--13);
    display: grid;
    grid-template-columns: 68px auto;
    align-items: center;
    line-height: 30px;
    grid-gap: var(--gap);
}
.advice__logo {
    width: 68px;
    height: 68px;
}
.advice__message {
    font-family: var(--ff__dmSans--italic, sans-serif);
    font-size: var(--scale-p2);
    font-weight: var(--fw__regular);
    color: hsla(var(--clr__neutral--600));
}
.advice__date {
    --bottom: 20px;
    --right: 30px;
    display: inline-block;
    position: absolute;
    bottom: var(--bottom);
    right: var(--right);

    font-family: var(--ff__dmSans--bold, sans-serif);
    font-size: var(--scale-h6);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__neutral--500));

}