.adviceSection {
    padding-block: var(--spc__spacing--16);
}
.adviceSection__list {
    --min__width: 500px;
    --gap: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min__width), 1fr));
    grid-gap: var(--gap);
    justify-items: center;
}
.adviceSection__header {
    display: grid;
    margin-left: var(--spc__spacing--3);
    place-items: start;
}
.adviceSection__subtitle {
    font-family: var(--ff__dmSans--regular, sans-serif);
    font-size: var(--scale-h5);
    font-weight: var(--fw__bold);
    color: hsla(var(--clr__primary--100));
    letter-spacing: 0.1em;
    margin-bottom: var(--spc__spacing--12);
}