.contactHero {
    min-height: 250px;
    padding: var(--spc__scale--13) var(--spc__scale--12);
    display: grid;
    justify-content: center;
    position: relative;
}   
.contactHero__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.contactHero__title {
    font-family: var(--ff__Nunito, sans-serif);
    font-size: var(--scale--h1);
    font-weight: var(--fw__semiBold);
    color: hsla(var(--clr__neutral--100));
    margin-bottom: var(--spc__scale--6);
    text-align: center;
}
.contactHero__description {
    font-family: var(--ff__firaSans, sans-serif);
    font-size: var(--scale--p2);
    font-weight: var(--fw__regular);
    color: hsla(var(--clr__neutral--100));
    text-align: center;
    width: min(600px, 100%);
    margin-inline: auto;
    line-height: 1.7;
}