.pokemon__collection {
    --gap: 30px;
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
@media screen and (max-width: 1200px) {
    .pokemon__collection {
        justify-items: center;
    }
}
@media screen and (min-width: 1024px) {
    .pokemon__collection {
        --gap: 45px;
    }
}